<div class="shop-featured__item product-item position-relative text-center">
  <div class="product_1">
    <div class="card-product__img mb-20 d-flex w100" style="align-items: center; justify-content: center;">
      {% if card_product.featured_image == blank %}
        {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg h100 w100' }}
      {% else %}
        <img
          src="{{ card_product.featured_image | image_url }}"
          alt="{{ card_product.featured_image.alt | escape }}"
          class="w100"
          style="aspect-ratio: 1; object-fit: contain;"
        >
      {% endif %}
    </div>
    <div class="product-love t-2 r-2 position-absolute">
      {% comment %} <button class="button-primary img-love">{% render 'love' %}</button> {% endcomment %}
      <button class="button-primary img-love" onclick="changeLoveText()">{% render 'love' %}</button>
    </div>
    <div class="product-item__content text-center">
      <h3 class="mb-10">
        <a class="product-name fw-600 h4 cl-black" href="{{ card_product.url }}">
          {{- card_product.title | escape -}}
        </a>
      </h3>
      <p class="price h5 text-center mb-20">
        {{ card_product.price | money }}
        {% comment %}
          {{ shop.currency }}
        {% endcomment %}
      </p>
    </div>
  </div>
  <form method="post" action="/cart/add">
    <input
      name="id"
      value="{{ card_product.variants.first.id }}"
      type="hidden"
    >
    <button class="btn btn-border" data-product-id="{{ card_product.id }}">Add to cart</button>
  </form>
</div>
