<div class="shop-featured__item product-item position-relative text-center">
  <div class="product_1">
    <div class="card-product__img mb-20 d-flex w100" style="align-items: center; justify-content: center;">
      {% if card_product.featured_image == blank %}
        {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg h100 w100' }}
      {% else %}
        <img
          src="{{ card_product.featured_image | image_url }}"
          alt="{{ card_product.featured_image.alt | escape }}"
          class="w100"
          style="aspect-ratio: 1; object-fit: cover;"
        >
      {% endif %}
    </div>
    <div class="product-love t-2 r-2 position-absolute">
      {% comment %} <button class="button-primary img-love">{% render 'love' %}</button> {% endcomment %}
      <button class="button-primary img-love" onclick="changeLoveText()">{% render 'love' %}</button>
    </div>
    <div class="product-item__content text-center">
      <h3 class="mb-10">
        <a class="product-name fw-600 h4 cl-black" href="{{ card_product.url }}">
          {{- card_product.title | escape -}}
        </a>
      </h3>
      <p class="price h5 text-center mb-20">
        {{ card_product.price | money }}
        {% comment %}
          {{ shop.currency }}
        {% endcomment %}
      </p>
    </div>
  </div>
  {% liquid
    assign check_against_inventory = true
    if card_product.selected_or_first_available_variant.inventory_management != 'shopify' or card_product.selected_or_first_available_variant.inventory_policy == 'continue'
      assign check_against_inventory = false
    endif

    assign quantity_rule_soldout = false

    if check_against_inventory
      if card_product.selected_or_first_available_variant.quantity_rule.min > card_product.selected_or_first_available_variant.inventory_quantity
        assign quantity_rule_soldout = true
      endif
    endif
  %}
  <form method="post" action="/cart/add">
    <input
      name="id"
      value="{{ card_product.variants.first.id }}"
      type="hidden"
    >
    <button
      class="btn btn-border"
      data-product-id="{{ card_product.id }}"
      {% if quantity_rule_soldout %}
        disabled
      {% endif %}
    >
      {%- if quantity_rule_soldout -%}
        Sold out
      {%- else -%}
        Add to cart
      {%- endif -%}
    </button>
  </form>
</div>
